$Black: #141c2b;
$White: #fff;
$Green: #29910d;
$GreenLight: #00e396;
$Blue: #0168fa;
$BlueLight: #69b2f8;
$Red: #dc3545;
$Orange: #fd7e14;
$Gray: #8392a5;
$GrayLight: #7987a1;
$GrayDark: #1c273c;
$BlackLight:#3b4863;
